.table {
    border-spacing: 0;
    margin: 1rem;
}

.table__row:nth-child(odd) {
    background-color: #f7f7f7;
}

.table__header {
    text-align: center;
    font-size: 20px;
}

.table__cell {
    padding: 12px;
    text-align: center;
    width: 350pt;
    border-radius: 4px;
}

.container {
    position: absolute;
    width: 100vw;
    bottom: -20px;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}

.tempo {
    align-self: center;
    background-color: white;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    font-size: 400%;
}

.casellina-1 {
    background-color: lightcoral;
}

.casellina1 {
    background-color: lightgreen;
}

.jolly {
    box-shadow: 0px 0px 0px 3px yellow inset;
}
