<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J^4 | Classifica Finale</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    {% if squadre_nascoste > 0 %}
        <button id="aggiungi_squadra">Mostra la posizione numero {{ squadre_nascoste }}</button>
    {% endif %}
    <table>
        <tr class="table__header">
            {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                    {% if cell[2] == 0 %}
                        {% if cell[1] == -1 %}
                            <td class="table__cell casellina-1">{{ cell[0] }}</td>
                        {% endif %}
                        {% if cell[1] == 0 %}
                            <td class="table__cell">{{ cell[0] }}</td>
                        {% endif %}
                        {% if cell[1] == 1 %}
                            <td class="table__cell casellina1">{{ cell[0] }}</td>
                        {% endif %}
                    {% else %}
                        {% if cell[1] == -1 %}
                        <td class="table__cell casellina-1 jolly">{{ cell[0] }}</td>
                        {% endif %}
                        {% if cell[1] == 0 %}
                            <td class="table__cell jolly">{{ cell[0] }}</td>
                        {% endif %}
                        {% if cell[1] == 1 %}
                            <td class="table__cell casellina1 jolly">{{ cell[0] }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <div class="container">
        <h1 class="tempo">Gara terminata</h1>
    </div>
    
    <script>
        document.getElementById("aggiungi_squadra").onclick = function() {
            //params = new URLSearchParams(window.location.search)
            //nasc = params.get("nascoste")
            //nascoste = 0
            //if (nasc == null || nasc == NaN) {
            //    nascoste = 0
            //}
            //else {
            //    nascoste = parseInt(nasc)
            //}

            var squadre_nascoste = '{{ squadre_nascoste }}';

            var goto = window.location.href.split('?')[0] + "?nascoste=" + (squadre_nascoste-1);
            
            window.location.replace(goto)
        }
    </script>
</body>
</html>