<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J^4 | Terminale</title>
    <script>
        console.log("Istruzioni:");
        console.log("BONUS: bonus <codice squadra> <valore>");
        console.log("MALUS: malus <codice squadra> <valore>");
        console.log("RESET BONUS/MALUS: bonus/malus <codice squadra> reset");
        console.log("Se sfanculi un comando potrebbe anche crashare il server, stai attento lol");
    </script>
    <h1>Terminale</h1>
    <h2>Usare (con molta attenzione) per mandare comandi direttamente all'app, facendo un override di valori</h2>
    <h2>Fare ispeziona per vedere le istruzioni</h2>
    <h3>Non posso garantire che funzioni, ci ho dedicato poco tempo</h3>
    <br>
</head>
<body>
    <form action="" method="post">
        <p>Password</p>
        <p><input type="text" name="password"></p>
        <p>Comando</p>
        <p><input type="text" name="comando"></p>
        <p><input type="submit" name="invia_comando"></p>
    </form>
</body>
</html>